@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
  .brd {
    @apply border-2 border-red-600;
  }
}

ion-icon {
  color: white;
  font-size: 30px;
}
